@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    color-scheme: dark;
  }
}

@layer utilities {
  :root:not(.dark) .bg-white {
    background-color: #E4E4E7;
  }
  :root:not(.dark) .bg-neutral-50 {
    background-color: #E4E4E7;
  }
  :root:not(.dark) .bg-neutral-100 {
    background-color: #E4E4E7;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .dark .bg-white {
    background-color: #18181B;
  }
  .dark .bg-neutral-50 {
    background-color: #18181B;
  }
  .dark .bg-neutral-100 {
    background-color: #18181B;
  }
  .dark .bg-neutral-200 {
    background-color: #18181B;
  }
  .dark .border-neutral-100 {
    border-color: #27272A;
  }
  .dark .border-neutral-200 {
    border-color: #27272A;
  }
  .dark .border-neutral-300 {
    border-color: #3F3F46;
  }
  .dark .text-neutral-900 {
    color: #F4F4F5;
  }
  .dark .text-neutral-800 {
    color: #E4E4E7;
  }
  .dark .text-neutral-700 {
    color: #D4D4D8;
  }
  .dark .text-neutral-600 {
    color: #D4D4D8;
  }
  .dark .text-neutral-500 {
    color: #A1A1AA;
  }
  .dark .text-primary-900 {
    color: #BBF7D0;
  }
  .dark .text-primary-800 {
    color: #BBF7D0;
  }
  .dark .text-primary-700 {
    color: #86EFAC;
  }
  .dark .text-primary-600 {
    color: #86EFAC;
  }
  .dark .hover\:bg-neutral-50:hover {
    background-color: #27272A;
  }
  .dark .hover\:bg-neutral-100:hover {
    background-color: #27272A;
  }
}
